################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArtClub.slnx/copilot-chat/268cafd3/sessions
/.vs/CopilotSnapshots/EDA6EF3D5CF7ED46B530BC0C758DCF73
/ArtClub/.vs/ArtClub/copilot-chat/268cafd3/sessions
/ArtClub/.vs/ArtClub/CopilotIndices/18.5.39187.10602
/ArtClub/.vs/ArtClub/DesignTimeBuild
/ArtClub/.vs/ArtClub/FileContentIndex
/ArtClub/.vs/CopilotSnapshots
/ArtClub/obj/Debug/net10.0/compressed
