@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete art piece";
}

<h1>Delete art piece</h1>
<p>Confirm the deletion of the selected art piece here.</p>
